.swiper-button-prev {
    display: none;
}

.swiper-button-next {
    display: none;
}

@media (max-width: 767.98px) {
    #my_table_wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .swiper-button-prev {
        display: block;
    }

    .swiper-button-next {
        display: block;
    }

    #my_table_wrapper .dt-paging {
        display: none;
    }

    #my_table_wrapper .dt-search input[type="search"] {
        width: 100% !important;
    }

    #my_table_wrapper .dt-search label {
        display: none;
    }
}

#my_table_wrapper input[type="search"] {
    font-size: 16px;
    -webkit-appearance: none;
    margin-left: 0;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    /*margin-left: 0.5rem;*/
}
